In [1]:
import pandas as pd

df1 = pd.read_csv('/home/jovyan/UNSW/UNSW-NB15_1.csv',low_memory=False)
df2 = pd.read_csv('/home/jovyan/UNSW/UNSW-NB15_2.csv',low_memory=False)
# df3 = pd.read_csv('/home/jovyan/UNSW/UNSW-NB15_3.csv',low_memory=False)
# df4 = pd.read_csv('/home/jovyan/UNSW/UNSW-NB15_4.csv',low_memory=False)

merged_df = pd.concat([df1,df2], axis=0, ignore_index=True)

# merged_df.to_csv('/home/jovyan/UNSW/UNSW_NB15_merge.csv', index=False)

In [2]:
print(merged_df.head())

   59.166.0.0   1390  149.171.126.6    53  udp  CON  0.001055    132    164  \
0  59.166.0.0  33661  149.171.126.9  1024  udp  CON  0.036133  528.0  304.0
1  59.166.0.6   1464  149.171.126.7    53  udp  CON  0.001119  146.0  178.0
2  59.166.0.5   3593  149.171.126.5    53  udp  CON  0.001209  132.0  164.0
3  59.166.0.3  49664  149.171.126.0    53  udp  CON  0.001169  146.0  178.0
4  59.166.0.0  32119  149.171.126.9   111  udp  CON  0.078339  568.0  312.0

   31  ...  1421955842.1  1.02269  0.997042 0.002317  0.002173  0.000144  13  \
0  31  ...           NaN      NaN       NaN      NaN       NaN       NaN NaN
1  31  ...           NaN      NaN       NaN      NaN       NaN       NaN NaN
2  31  ...           NaN      NaN       NaN      NaN       NaN       NaN NaN
3  31  ...           NaN      NaN       NaN      NaN       NaN       NaN NaN
4  31  ...           NaN      NaN       NaN      NaN       NaN       NaN NaN

   13.1   6  7.1
0   NaN NaN  NaN
1   NaN NaN  NaN
2   NaN NaN  NaN
3   NaN NaN  NaN
4   NaN NaN  NaN

[5 rows x 82 columns]

In [3]:
print(df1.head())
print(df2.head())
# print(df3.head())
# print(df4.head())

   59.166.0.0   1390  149.171.126.6    53  udp  CON  0.001055  132  164  31  \
0  59.166.0.0  33661  149.171.126.9  1024  udp  CON  0.036133  528  304  31
1  59.166.0.6   1464  149.171.126.7    53  udp  CON  0.001119  146  178  31
2  59.166.0.5   3593  149.171.126.5    53  udp  CON  0.001209  132  164  31
3  59.166.0.3  49664  149.171.126.0    53  udp  CON  0.001169  146  178  31
4  59.166.0.0  32119  149.171.126.9   111  udp  CON  0.078339  568  312  31

   ...  0.17   3  7  1  3.1  1.1  1.2  1.3  Unnamed: 47  0.18
0  ...     0   2  4  2    3    1    1    2          NaN     0
1  ...     0  12  8  1    2    2    1    1          NaN     0
2  ...     0   6  9  1    1    1    1    1          NaN     0
3  ...     0   7  9  1    1    1    1    1          NaN     0
4  ...     0   2  4  2    3    1    1    2          NaN     0

[5 rows x 49 columns]
   59.166.0.0   6055  149.171.126.5  54145  tcp  FIN  0.072974  4238  60788  \
0  59.166.0.0   7832  149.171.126.3   5607  tcp  FIN  0.144951  5174  91072
1  59.166.0.8  11397  149.171.126.6     21  tcp  FIN  0.116107  2934   3742
2  59.166.0.0   3804  149.171.126.3     53  udp  CON  0.000986   146    178
3  59.166.0.8  14339  149.171.126.6  14724  tcp  FIN  0.038480  8928    320
4  59.166.0.8  39094  149.171.126.3     53  udp  CON  0.001026   130    162

   31  ...  0.6  13  13.1  6  7.1  1  1.1  2  Unnamed: 47  0.7
0  31  ...    0  13    13  6    7  1    1  2          NaN    0
1  31  ...    1   1     2  7    5  1    1  4          NaN    0
2  31  ...    0  13    13  6    7  1    1  2          NaN    0
3  31  ...    0   8    20  7    5  1    1  4          NaN    0
4  31  ...    0   8    13  6    5  1    1  1          NaN    0

[5 rows x 49 columns]